.App {
  text-align: center;
}

.map-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.map-container__map {
  position: relative;
  min-height: 500px;
  grid-column: 1;
}

.map-container__input {
  grid-column: 2;
}

.map-container__label {
  display: block;
  margin:10px;
}